<<<<<<< Updated upstream
[name="justin"] #slider {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  font-family: sans-serif;
}

[name="justin"] .fill {
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

[name="justin"] .slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
[name="justin"] .slide {
  width: 500%;
  overflow: hidden;
  animation: slider 20s infinite;
}
[name="justin"] .slide div {
  width: 20%;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  height: 500px;
  text-transform: uppercase;
}
[name="justin"] .slide1 {
  background: #e74c3c;
  background-image: url("img/slider/img1.jpg");
}
[name="justin"] .slide2 {
  background: #3498db;
  background-image: url("img/slider/img2.jpg");
}
[name="justin"] .slide3 {
  background: #2ecc71;
  background-image: url("img/slider/img3.jpg");
}
[name="justin"] .slide4 {
  background: #9b59b6;
  background-image: url("img/slider/img4.jpg");
}
[name="justin"] .slide5 {
  background: #2c3e50;
  background-image: url("/to/image.jpg");
}
@keyframes slider {
  0% {
    margin-left: 0;
  }
  10% {
    margin-left: 0;
  }
  12% {
    margin-left: -100%;
  }
  22% {
    margin-left: -100%;
  }
  24% {
    margin-left: -200%;
  }
  34% {
    margin-left: -200%;
  }
  36% {
    margin-left: -300%;
  }
  46% {
    margin-left: -300%;
  }
  48% {
    margin-left: -400%;
  }
  58% {
    margin-left: -400%;
  }
  60% {
    margin-left: -300%;
  }
  70% {
    margin-left: -300%;
  }
  72% {
    margin-left: -200%;
  }
  82% {
    margin-left: -200%;
  }
  84% {
    margin-left: -100%;
  }
  94% {
    margin-left: -100%;
  }
  96% {
    margin-left: 0;
  }
}

[name="jakub"] .social-network {
  display: flex;
  justify-content: center;
  background-color: #4b99a3;
}

[name="jakub"] .social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

[name="jakub"] .social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}
[name="jakub"] .social-network a.icoTwitter:hover {
  background-color: #5fc1f1;
}
[name="jakub"] .social-network a.icoWhatsapp:hover {
  background-color: #068927;
}
[name="jakub"] .social-network a.icoInstagram:hover {
  background-color: #833ab4;
}

[name="jakub"] .social-network a.icoFacebook:hover i,
[name="jakub"] .social-network a.icoLinkedin:hover i,
[name="jakub"] .social-network a.icoTwitter:hover i,
[name="jakub"] .social-network a.icoWhatsapp:hover i,
[name="jakub"] .social-network a.icoInstagram:hover i {
  color: #fff;
}

[name="jakub"] .social-circle a {
  display: inline-block;
  position: relative;
  margin: 2em auto;
  border-radius: 50%;
  text-align: center;
  width: 2em;
  height: 2em;
  font-size: 2em;
  text-decoration: none;
}

[name="jakub"] .social-circle i {
  margin: 0;
  line-height: 2em;
  text-align: center;
}

[name="jakub"] .social-circle a:hover i,
[name="jakub"] .triggeredHover {
  transform: rotate(360deg);
  transition: all 0.7s;
}

[name="jakub"] .social-circle i {
  color: #595959;
  transition: all 1s;
}

[name="jakub"] .social-network a {
  background-color: #f9f9f9;
}
[name="jakub"] .text-center {
  align-self: flex-end;
  font-weight: 600;
  background-color: #4b99a3;
}
=======

/* Nav Bar*/
.container-nav {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #393E46;
  color: white
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: fit-content;
}

.nav-wrapper > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 1rem;
}
  
.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid #abf0e9;
}

.active-nav-link a {
  color:#abf0e9 !important;
}

.nav-link-wrapper a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid #abf0e9;
}

.nav-link-wrapper a:hover {
  color: #abf0e9;
}


/* Logo*/
.container-logo {
  height: 250px;
}

.logo-wrapper img {
  width: 200px;
  margin-top: 20px;
}
>>>>>>> Stashed changes
