/* Nav Bar*/
[name="neo"] .container-nav {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #393e46;
  color: white;
}
p,
h1,
h3 {
  color: #393e46;
}

[name="neo"] .nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-left: 30px;
  width: fit-content;
}

[name="neo"] .nav-wrapper > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

[name="neo"] .nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}
/* better without
[name="neo"] .active-nav-link {
  border-bottom: 1px solid #abf0e9;
}
*/
[name="neo"] .active-nav-link a {
  color: #e67070 !important;
}
/*dropdown*/
[name="neo"] .dropdown .dropbtn {
  background-color: inherit;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  align-self: center;
}

[name="neo"] .dropdown-content {
  display: none;
  position: absolute;
  background-color: #393e46;
  min-width: 160px;
  z-index: 1;
}
[name="neo"] .dropdown:hover .dropbtn {
  background-color: inherit;
  color: #e67070;
}
[name="neo"] .dropdown:hover .dropdown-content a {
  background-color: #393e46;
}

/*dropdown end*/

[name="neo"] .nav-link-wrapper a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}
/* it's better without this
[name="neo"] .nav-link-wrapper:hover {
  border-bottom: 1px solid #abf0e9;
}
*/

[name="neo"] .nav-link-wrapper a:hover {
  color: #e67070;
}

/* Logo*/
[name="neo"] .container-logo {
  display: flex;
  justify-content: center;
  height: 140px;
}

[name="neo"] .logo-wrapper {
  display: flex;
  flex-direction: row;
}

[name="neo"] .logo-wrapper img {
  width: 100px;
  height: 100px;
}

[name="neo"] .logo-wrapper h1 {
  font-size: 50px;
  color: #FFFF;
  text-shadow: 3px 2px 10px black;
  font-weight: bold;
  align-self: center;
  margin-left: 10px;
}

/* carousel*/

.carousel-inner {
  height: 50vh;
  border-radius: 1%;
}

.carousel-item img {
  background-size: cover;
  background-position: center;
}

/* BUttons */
[name="neo"] .btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

[name="neo"] .btn {
  font-size: 12px;
  border-radius: 50%;
  margin: 50px;
  width: 100px;
  height: 100px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(108, 117, 125);
}




[name="neo"] .svg-icon {
  
  height: 50px;
  width: 50px;
  fill: rgb(108, 117, 125);
}

[name="neo"] .btn:hover .svg-icon
{
  fill: white;
}

[name="neo"] .btn-text
{
  font-weight: 700;
}


/*Recipe Layout*/

[name="neo"] .container-recipe-title {
  background-color: #e67070;
  margin-top: 50px;
  box-shadow: 3px 3px 3px #888888;
}

[name="neo"] .container-recipe-title h1 {
  margin-left: 50px;
  padding: 10px;
  font-size: 35px;
}

[name="neo"] .container-main-content {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

[name="neo"] .recipe-img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

[name="neo"] .main-content-wrapper {
  padding: 10px;
}

[name="neo"] .main-content-wrapper h3 {
  margin-left: 20px;
  margin-right: 20px;
}

[name="neo"] .recipe-img {
  width: auto;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

[name="neo"] .container-recipe-grids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  height: 200px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

[name="neo"] .container-recipe-grid {
  padding: 20px;
}

/*about*/
[name="jakub"] .chef {
  width: 20em;
}

[name="jakub"] .about2 p {
  text-align: justify;
}
[name="jakub"] .about,
.about2 {
  padding-top: 2em;
}

/*footer*/
[name="jakub"] .social-network {
  display: flex;
  justify-content: center;
  /*background-color: #4b99a3;*/
}

[name="jakub"] .social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

[name="jakub"] .social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}
[name="jakub"] .social-network a.icoTwitter:hover {
  background-color: #5fc1f1;
}
[name="jakub"] .social-network a.icoWhatsapp:hover {
  background-color: #068927;
}
[name="jakub"] .social-network a.icoInstagram:hover {
  background-color: #833ab4;
}

[name="jakub"] .social-network a.icoFacebook:hover i,
[name="jakub"] .social-network a.icoLinkedin:hover i,
[name="jakub"] .social-network a.icoTwitter:hover i,
[name="jakub"] .social-network a.icoWhatsapp:hover i,
[name="jakub"] .social-network a.icoInstagram:hover i {
  color: #fff;
}

[name="jakub"] .social-circle a {
  display: inline-block;
  position: relative;
  margin: 2em auto;
  border-radius: 50%;
  text-align: center;
  width: 2em;
  height: 2em;
  font-size: 2em;
  text-decoration: none;
}

[name="jakub"] .social-circle i {
  margin: 0;
  line-height: 2em;
  text-align: center;
}

[name="jakub"] .social-circle a:hover i,
[name="jakub"] .triggeredHover {
  transform: rotate(360deg);
  transition: all 0.7s;
}

[name="jakub"] .social-circle i {
  color: #595959;
  transition: all 1s;
}

[name="jakub"] .social-network a {
  background-color: #f9f9f9;
}
[name="jakub"] .text-center {
  align-self: flex-end;
  font-weight: 600;
  /*background-color: #4b99a3;  */
}

/*Recipes*/

.break {
  display: inline;
  text-align: center;
}

.pics img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border: 0.1em solid #ece9e9;
  border-radius: 5%;
}
.riw p {
  text-align: center;
}
.riw h3 {
  padding-top: 0.5em;
  text-align: center;
}
.down {
  padding-top: 2em;
}

/* dropdown button */
.dropbtn {
  background-color: inherit;
  color: white;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  /*can probaly be deleted*/
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  font-size: 1rem;
  z-index: 1;
}

.dropdown-content a {
  color: #393e46;
  padding: 1em 1em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #abf0e9;
}

@media screen and (max-width: 800px) {
  .pics {
    flex: 50%;
    max-width: 50%;
  }
  .carousel {
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  .pics {
    flex: 100%;
    max-width: 100%;
  }
  .logo-wrapper img {
    flex: 20%;
    max-width: 100%;
  }
  .htag {
    font-size: small;
  }

  .htag {
    font-size: 2em;
  }
  .down {
    padding-top: 0em;
  }
  .logo-wrapper h1 {
    display: none;
  }
  .carousel {
    width: auto;
  }
  .disno {
    display: none;
  }
}
@media screen and (min-width: 990px) and (max-width: 1200px) {
  .about2 p {
    padding-left: 1em;
  }
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.karta {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
