[name="justin"] #slider {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  font-family: sans-serif;
}

[name="justin"] .fill {
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

[name="justin"] .slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
[name="justin"] .slide {
  width: 500%;
  overflow: hidden;
  animation: slider 20s infinite;
}
[name="justin"] .slide div {
  width: 20%;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  height: 500px;
  text-transform: uppercase;
}
[name="justin"] .slide1 {
  background: #e74c3c;
  background-image: url("img/slider/img1.jpg");
}
[name="justin"] .slide2 {
  background: #3498db;
  background-image: url("img/slider/img2.jpg");
}
[name="justin"] .slide3 {
  background: #2ecc71;
  background-image: url("img/slider/img3.jpg");
}
[name="justin"] .slide4 {
  background: #9b59b6;
  background-image: url("img/slider/img4.jpg");
}
[name="justin"] .slide5 {
  background: #2c3e50;
  background-image: url("/to/image.jpg");
}
@keyframes slider {
  0% {
    margin-left: 0;
  }
  10% {
    margin-left: 0;
  }
  12% {
    margin-left: -100%;
  }
  22% {
    margin-left: -100%;
  }
  24% {
    margin-left: -200%;
  }
  34% {
    margin-left: -200%;
  }
  36% {
    margin-left: -300%;
  }
  46% {
    margin-left: -300%;
  }
  48% {
    margin-left: -400%;
  }
  58% {
    margin-left: -400%;
  }
  60% {
    margin-left: -300%;
  }
  70% {
    margin-left: -300%;
  }
  72% {
    margin-left: -200%;
  }
  82% {
    margin-left: -200%;
  }
  84% {
    margin-left: -100%;
  }
  94% {
    margin-left: -100%;
  }
  96% {
    margin-left: 0;
  }
}
